node_modules/
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl
*.tfvars
vvvkubectl apply -f https://github.com/kubernetes-sigs/metrics-server/releases/latest/download/components.yaml
my name is leris and i am a devops engineer
bundle install